<font size="+6"> Hello and Welcome, My name is Max Zamieroski
  <p> Welcome!</p>

    <img src="029_08.jpg" style="width:600px;height:400px;">
<p> <font size="+2)"> <bold>Basic Info</bold> </p>
  <p> ASU class of 2021. Majoring in Digital Culture </p>
  <p> Origanlly from LA, California </p>
  <p> Phone number: <a href='tel:703-444-4444'>703-444-4444 </a> </p>
<p>  Email: <a href='mzamiero@asu.edu'>info@asu.edu </a> </p>
<p> <address> 1019 E Lemon Street
  Tempe, Arizona 85821
  <adress>
<p> <font size="+4"> Skills: </p>
  <p> <font size="+2"> I am an excellent leader. I am able to have a group under me and I am able to split the work up evenly and settle disbutes between members of the team. </P>
    <p> I have great communication skills as well. I am very clear wh en I speak and I am also very to the point, so I am never misunderstood. </p>
    <p> I have good expierience in marketing/sales. I ran the marketing campaign for local artists in LA along with opperating an online clothing store by myself. The clothing store as of now has turned a 4000$ profit and has collected over 5000 followers.
<p> <font size="+4"> Hobbies: </P>
  <p> <font size="+2"> I have been an avid rock climber for 5 years. I have accomplished feats such as climbing el capitan in the Yosemite valley, considerred to be one of the hardest climbs in the world. Rock climbing is a powerful hobby as it has built my self confidence to a very high level. It has also taught me commitment as Many climbs I attempt take me months to master and complete without error.
    <p> I have been skateboarding for 7 years. Skateboarding taught me how to easily communicate with strangers as I often go to skate alone when I travel and meet people as I go. The biggest thing skateboardiing taught me is to get over the fear of failure. Because of skateboarding I am willing to try new things with out hesitation because I do not fear failure, I embrace it and learn from the mistakes I make. </p>
    <p> I have also spent three years studying music on my own. Music has been a very hard concept to wrap my head arounf but it has taught me how to get over mental barriors that I thought I was not capable of. Another aspect of music is it has made me think outside the box in order to live up to the standerds I set formyself. </p>
<p> <font size="+4"> Expierience: </p>
  <p> <font size="+2"> I have expierience in guerilla marketing. I was hired by a clothing company in LA to put up wheat paste posters around the city and to run their socuial media campaign which amassed 75k followers and noterity from instagram influencers.
  <p> I have expierience in PR being the PR manager of a small town LA band called rinse and repeat, I ran social medias and promoted the band, along with talking to record labels and venue manjors for them.
  <p> I have expierience as being a lerk for online orders at target. I worked at a shipping wearhouse. the job envolved using their sorting system and packing boxes to be shipped online.
  <p> I have expierience as chef, working under the table for food trucks in Santa Monica. Some include Egg slut and mr rivers big dogs.
<p> <font size="+4"> Objective: </p>
    <p> <font size="+2">  I Intend to help what ever comany I end up working for expand to further audiances. I have deep roots in marketing and can design adds and websites that will catch the eye of new fields. If I am hired I will prove to be a value leader in what ever department I am placed in. I will also cumminate incredably well for the comapny to up productivity as much as I can
